$color-light: #fff;
$font-main: 'Source Sans 3', sans-serif;

*,
*::before,
*::after {
	box-sizing: border-box;
	padding: 0;
	margin: 0;
}

body {
	background-color: #131313;
	color: $color-light;
	font-family: $font-main;
}

.container {
	max-width: 784px;
	margin: 0 auto;
}

// ========== HEADER  ===============

.splash {
	position: relative;
	width: 100vw;
	height: 100vh;
	background-image: url('../images/background.jpg');
	background-position: center;
	background-size: cover;

	&__shadow {
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		background: linear-gradient(
			0deg,
			rgba(19, 19, 19, 1) 0%,
			rgba(255, 255, 255, 0) 80%
		);
	}

	&__title {
		font-size: 130px;
		font-weight: 900;
		margin-left: 50px;
		letter-spacing: 80px;
		text-transform: uppercase;
		line-height: 1.2;
	}

	&__subtitle {
		width: 170px;
		font-size: 26px;
		letter-spacing: 7px;
		text-transform: uppercase;
		text-align: center;
		margin-right: 15px;
		line-height: 1.7;

		span {
			margin: 0 40px;
		}
	}
}

// ========== NAVIGATION =============

.navigation {
	text-align: center;

	.container {
		padding: 70px 0;
	}
	a {
		padding: 5px 20px;
		text-decoration: none;
		color: $color-light;
		text-transform: uppercase;
		font-size: 22px;
		margin: 0 13px;
	}
}

// ========== HOME PAGE =================

.home {
	&__song-wrapper {
		margin: 0 auto 30px;
		display: flex;
		flex-direction: column;
		align-items: center;
	}

	&__song-title {
		font-size: 18px;
		letter-spacing: 2px;
	}

	&__song-stats {
		display: flex;
		justify-content: space-between;
		width: 43%;
	}
}
