$color-light: #fff;
$color-main: #c93037;
$font-main: 'Source Sans 3', sans-serif;

*,
*::before,
*::after {
	box-sizing: border-box;
	padding: 0;
	margin: 0;
}

body {
	background-color: #131313;
	color: $color-light;
	font-family: $font-main;
}

header {
	overflow: hidden;
}

.container {
	max-width: 824px;
	margin: 0 auto;
}

// ========== HEADER  ===============

.splash {
	position: relative;
	width: 100vw;
	height: 100vh;
	background-image: url('../images/background.jpg');
	background-position: center;
	background-size: cover;

	&__shadow {
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		background: linear-gradient(
			0deg,
			rgba(19, 19, 19, 1) 0%,
			rgba(255, 255, 255, 0) 80%
		);
	}

	&__title {
		font-size: 130px;
		font-weight: 900;
		margin-left: 50px;
		letter-spacing: 80px;
		text-transform: uppercase;
		line-height: 1.2;
	}

	&__subtitle {
		width: 170px;
		font-size: 26px;
		letter-spacing: 7px;
		text-transform: uppercase;
		text-align: center;
		margin-right: 15px;
		line-height: 1.7;

		span {
			margin: 0 40px;
		}
	}
}

// ========== NAVIGATION =============

.navigation {
	text-align: center;

	.container {
		padding: 80px 0 60px;
	}
	a {
		padding: 5px 20px;
		text-decoration: none;
		color: $color-light;
		text-transform: uppercase;
		font-size: 22px;
		margin: 0 13px;
	}
}

// ========== HOME PAGE =================

// ======= songs =========
.home {
	display: none;
	&__song-wrapper {
		margin: 0 auto 60px;
		display: flex;
		flex-direction: column;
		align-items: center;
	}

	&__song-title {
		font-size: 18px;
		letter-spacing: 2px;
	}

	&__song-stats {
		display: flex;
		justify-content: center;
		p {
			margin: 0 10px;
		}
	}
}

// ========= subscribe ============

.subscribe {
	position: relative;
	height: 90vh;
	margin-top: 13vh;
	background-image: url('../images/subscribe.jpg');
	background-position: center;
	background-size: cover;

	&__title {
		display: inline-block;
		width: 100%;
		position: absolute;
		top: 0;
		text-align: center;
		transform: translateY(-50%);
		text-transform: uppercase;
		font-size: 64px;
		letter-spacing: 14px;
		font-weight: 400;

		&--bold {
			font-weight: 700;
		}
	}

	&__info-wrapper {
		display: flex;
		justify-content: space-between;
		align-items: flex-end;
		padding: 0 23px;
	}

	&__join-btn {
		background-color: $color-main;
		font-size: 25px;
		padding: 28px 21px;
		color: $color-light;
		text-transform: uppercase;
		letter-spacing: 5px;
		border: none;
		border-radius: 5px;
		font-weight: 700;
		cursor: pointer;
		margin-bottom: 60px;
	}

	&__image-name-wrap {
		position: relative;
		display: flex;
	}

	&__name-wrap {
		position: absolute;
		bottom: 25%;
		left: -8%;
		transform: translate(-50%, 50%);
	}

	&__artist-name,
	&__artist-name2 {
		font-size: 55px;
		letter-spacing: 8px;
		font-weight: 900;
		span {
			color: $color-main;
		}
	}

	&__artist-name2 {
		margin-left: 45px;
	}

	&__artist-img {
		margin-top: 107px;
		height: 375px;
	}

	&__description {
		text-align: right;
		margin-top: 15px;

		h4 {
			text-transform: uppercase;
			font-size: 28px;
			letter-spacing: 4px;
		}

		p {
			font-size: 22px;
			letter-spacing: 6px;
		}
	}
}

// ========== FOOTER ============

.footer {
	&__text {
		padding: 28px 0;
		font-size: 18px;
		text-align: center;
		letter-spacing: 3px;
		color: $color-light;
	}
}

// ============= SECTION SEARCH ==============

.search {
	display: none;
	&__title {
		text-transform: uppercase;
		text-align: center;
		font-size: 36px;
		letter-spacing: 12px;
		font-weight: 400;
		margin: 20px 0 25px;
	}

	&__form {
		display: flex;
		justify-content: center;
		align-items: center;
	}

	&__label {
		font-size: 18px;
		letter-spacing: 2px;
	}

	&__input {
		width: 240px;
		padding: 10px 10px;
		color: #171717;
		margin: 0 20px;
		border: none;
		border-radius: 8px;
		outline: none;
		font-weight: 700;
		font-size: 16px;
	}

	&__btn {
		background-color: $color-main;
		font-size: 14px;
		padding: 12px 7px;
		color: $color-light;
		text-transform: uppercase;
		letter-spacing: 3px;
		border: none;
		border-radius: 5px;
		font-weight: 700;
		cursor: pointer;
	}

	&__result-text {
		text-align: center;
		margin: 60px 0;
		font-size: 18px;
		letter-spacing: 6px;
	}
}

// ========== SECTION DISCOVER ==========

.discover {
	&__title {
		text-transform: uppercase;
		text-align: center;
		font-size: 36px;
		letter-spacing: 12px;
		font-weight: 400;
		margin: 20px 0 25px;
	}

	&__text {
		text-align: center;
		margin: 60px 0;
		font-size: 18px;
		letter-spacing: 6px;
	}

	&__song-wrapper {
		margin: 0 auto 60px;
		display: flex;
		flex-direction: column;
		align-items: center;
	}

	&__song-title {
		font-size: 18px;
		letter-spacing: 2px;
	}

	&__song-stats {
		display: flex;
		justify-content: center;
		p {
			margin: 0 10px;
		}
	}
}
