@import './variables';

// ========== FOOTER ============

.footer {
	&__text {
		padding: 28px 0;
		font-size: 18px;
		text-align: center;
		letter-spacing: 3px;
		color: $color-light;
	}
}

@media (max-width: 768px) {
	.footer {
		&__text {
			font-size: 20px;
		}
	}
}
