@import './variables';

// ========== HOME PAGE =================

// ========== categories ==========

.categories {
	display: flex;
	justify-content: center;
	align-items: center;
	margin-bottom: 50px;
	&__text {
		font-size: 16px;
		margin: 0 5px;
	}
	&__list {
		display: flex;
		justify-content: center;
		align-items: center;
	}

	&__item {
		list-style: none;
		margin: 0 3px;
		font-size: 16px;
		padding: 5px;
		cursor: pointer;
		letter-spacing: 1px;
	}
	&__item.active {
		color: $color-main;
		font-weight: 700;
	}
}

// ======= songs =========
.home {
	display: none;
	&__song-wrapper {
		margin: 0 auto 60px;
		display: flex;
		flex-direction: column;
		align-items: center;
	}

	&__song-title {
		font-size: 18px;
		letter-spacing: 2px;
	}

	&__song-stats {
		display: flex;
		justify-content: space-between;
		width: 365px;
		p {
			margin: 0 10px;
			font-size: 14px;
		}
	}
}

// ========= subscribe ============

.subscribe {
	position: relative;
	height: 90vh;
	margin-top: 13vh;
	background-image: url('../images/subscribe.jpg');
	background-position: center;
	background-size: cover;

	.container {
		height: 100%;
		display: flex;
		flex-direction: column;
		justify-content: center;
	}

	&__title {
		display: inline-block;
		width: 100%;
		position: absolute;
		top: 0;
		text-align: center;
		transform: translateY(-50%);
		text-transform: uppercase;
		font-size: 64px;
		letter-spacing: 14px;
		font-weight: 400;

		&--bold {
			font-weight: 700;
		}
	}

	&__info-wrapper {
		display: flex;
		justify-content: space-between;
		align-items: flex-end;
		padding: 0 23px;
	}

	&__join-btn {
		background-color: $color-main;
		font-size: 25px;
		padding: 28px 21px;
		color: $color-light;
		text-transform: uppercase;
		letter-spacing: 5px;
		border: none;
		border-radius: 5px;
		font-weight: 700;
		cursor: pointer;
		margin-bottom: 60px;
	}

	&__image-name-wrap {
		position: relative;
		display: flex;
	}

	&__name-wrap {
		position: absolute;
		bottom: 25%;
		left: -8%;
		transform: translate(-50%, 50%);
	}

	&__artist-name,
	&__artist-name2 {
		font-size: 55px;
		letter-spacing: 8px;
		font-weight: 900;
		span {
			color: $color-main;
		}
	}

	&__artist-name2 {
		margin-left: 45px;
	}

	&__artist-img {
		height: 375px;
	}

	&__description {
		text-align: right;
		margin-top: 15px;

		h4 {
			text-transform: uppercase;
			font-size: 28px;
			letter-spacing: 4px;
		}

		p {
			font-size: 22px;
			letter-spacing: 6px;
		}
	}
}

@media (max-width: 768px) {
	.categories {
		&__item {
			font-size: 18px;
		}
	}
	.home {
		&__song-wrapper {
			margin: 0 auto 60px;
		}

		&__song-title {
			font-size: 22px;
		}

		&__song-stats {
			width: 400px;

			p {
				font-size: 18px;
			}
		}
	}

	.subscribe {
		.container {
			height: 100%;
			display: flex;
			flex-direction: column;
			justify-content: center;
			padding: 20px;
		}

		&__artist-img {
			margin: 0;
		}
	}
}

@media (max-width: 432px) {
	.categories {
		margin-top: 20px;
		padding: 0 10px;
		&__list {
			flex-wrap: wrap;
		}
		&__item {
			font-size: 16px;
		}
	}
	.home {
		&__song-wrapper {
			margin: 0 auto 60px;
		}

		&__song-title {
			font-size: 22px;
			text-align: center;
		}

		&__song-stats {
			width: 350px;
			display: flex;
			align-items: center;

			.category {
				display: flex;
				flex-direction: column;
			}

			p {
				font-size: 18px;
			}
		}
	}

	// subscribe

	.subscribe {
		margin-top: 20vh;

		&__title {
			font-size: 50px;
			letter-spacing: 14px;
		}

		&__info-wrapper {
			flex-direction: column;
		}

		&__join-btn {
			font-size: 20px;
			margin-bottom: 30px;
		}

		&__artist-name,
		&__artist-name2 {
			font-size: 43px;
			letter-spacing: 5px;
		}

		&__artist-name2 {
			margin-left: 35px;
		}

		&__artist-img {
			margin-top: 0;
			height: 250px;
		}

		&__description {
			margin-top: 25px;

			p {
				font-size: 20px;
			}
		}
	}
}
