@import './variables';

// ========== NAVIGATION =============
.navigation {
	text-align: center;

	.container {
		padding: 80px 0 60px;
	}
	.nav-link {
		padding: 5px 20px;
		text-decoration: none;
		color: $color-light;
		text-transform: uppercase;
		font-size: 22px;
		margin: 0 13px;
	}
	.nav-link.active {
		color: $color-main;
	}
}
