@import './variables';

// ============= SECTION SEARCH ==============

.search {
	display: none;

	&__title {
		text-transform: uppercase;
		text-align: center;
		font-size: 36px;
		letter-spacing: 12px;
		font-weight: 400;
		margin: 20px 0 25px;
	}

	&__form {
		display: flex;
		justify-content: center;
		align-items: center;
	}

	&__label {
		font-size: 18px;
		letter-spacing: 2px;
	}

	&__input,
	&__select {
		width: 240px;
		padding: 10px;
		color: #171717;
		margin: 0 20px;
		border: none;
		border-radius: 8px;
		outline: none;
		font-weight: 700;
		font-size: 16px;
		appearance: none;
	}

	&__btn {
		background-color: $color-main;
		font-size: 14px;
		padding: 12px 7px;
		color: $color-light;
		text-transform: uppercase;
		letter-spacing: 3px;
		border: none;
		border-radius: 5px;
		font-weight: 700;
		cursor: pointer;
	}

	&__result-text {
		text-align: center;
		margin: 60px 0;
		font-size: 18px;
		letter-spacing: 6px;
	}

	&__results-wrapper {
		min-height: 40vh;
	}
}

@media (max-width: 768px) {
	.search {
		&__title {
			font-size: 40px;
		}

		&__label {
			font-size: 22px;
			letter-spacing: 3px;
		}

		&__input,
		&__select {
			width: 270px;

			font-size: 18px;
		}

		&__btn {
			font-size: 17px;
			padding: 12px 10px;
		}

		&__result-text {
			font-size: 20px;
		}
	}
}

@media (max-width: 432px) {
	.search {
		&__title {
			font-size: 35px;
		}

		&__form {
			flex-direction: column;
		}

		&__input,
		&__select {
			margin: 15px 0;
		}

		&__btn {
			font-size: 17px;
			padding: 12px 10px;
		}

		&__result-text {
			font-size: 18px;
		}
	}
}
